In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt 
import matplotlib.patches as ptc
import math as mt

import os

In [2]:
# Carregar os dados do arquivo CSV

data = pd.read_csv('b1319.csv', sep=';')
# Pegar todas as participações de São Paulo e Fladados1
data.head()

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,perc_points_won
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,72
1,2003,2,Santos,87,46,25,12,9,93,60,33,63
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,56
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,53
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,52

In [5]:





arquivos = []
for root, dirs, files in os.walk('times'):
    for file in files:
      
        arquivos.append(pd.read_csv('times/'+file, sep=';'))

In [6]:


times = list(data['team'])


#Fazer replace de \xa0 por espaço em branco
times = [x.replace('\xa0', '') for x in times]
data['team'] = [x.replace('\xa0', '') for x in data['team']]

# Remover os valores duplicados
times = list(set(times))

In [16]:
name = 'Cruzeiro'

'Cruzeiro'

In [15]:
pegar = data[data['team'] == times[0]]
pegar

,year,position,team,points,games,victories,draws,losses,goals_scored,goals_against,goals_difference,perc_points_won
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,72
36,2004,13,Cruzeiro,56,46,16,8,22,69,81,-12,40
55,2005,8,Cruzeiro,60,42,17,9,16,73,72,1,47
79,2006,10,Cruzeiro,53,38,14,11,13,52,45,7,46
94,2007,5,Cruzeiro,60,38,18,6,14,73,58,15,53
112,2008,3,Cruzeiro,67,38,21,4,13,59,44,15,58
133,2009,4,Cruzeiro,62,38,18,8,12,58,53,5,54
151,2010,2,Cruzeiro,69,38,20,9,9,53,38,15,61
185,2011,16,Cruzeiro,43,38,11,10,17,48,51,-3,37
198,2012,9,Cruzeiro,52,38,15,7,16,47,51,–4,45
210,2013,1,Cruzeiro,76,38,23,7,8,77,37,40,67
230,2014,1,Cruzeiro,80,38,24,8,6,67,38,29,70
257,2015,8,Cruzeiro,55,38,15,10,13,44,35,9,48
281,2016,12,Cruzeiro,51,38,14,9,15,48,49,–1,45
294,2017,5,Cruzeiro,57,38,15,12,11,47,39,8,50
317,2018,8,Cruzeiro,53,38,14,11,13,34,34,0,46
346,2019,17,Cruzeiro,36,38,7,15,16,27,46,–19,31